@import "../utils/variables";
@import "../utils/mixins";

.tabs {
  list-style: none;
  padding-left: 26px;
  .tabs__item {
    float: left;
    overflow: hidden;
    margin: 6px 3px 0;
  }
  .tabs__url {
    color: #C6C6C6;
    font: 14px/18px 'robotomedium';
    display: table-cell;
    vertical-align: middle;
    min-width: 100px;
    height: 44px;
    text-align: center;
    text-decoration: none;
    background: #363636;
    padding: 0 18px 3px;
    transition: all 0.2s linear;
    &.active, &:hover {
      background: #7b872b;
      color: #FFF;
    }
  }
}

.tab-content {
  display: none;
  padding-top: 5px;
  &.active {
    display: block;
  }
}
